/* なぜか本番のビルドだとこれらのファイルの後にTailwindが読み込まれて、優先度的に反映されないためクラス指定で行う */
.blog-content > h1 {
	font-size: 3rem !important;
}
.blog-content > h2 {
	font-size: 2rem !important;
}
.blog-content > h3 {
	font-size: 1.7rem !important;
}
.blog-content > p {
	font-size: 1.2rem !important;
	margin-top: 1rem !important;
}

.blog-content > h1,
.blog-content > h2,
.blog-content > h3,
.blog-content > h4,
.blog-content > h5,
.blog-content > h6 {
	margin-top: 3rem !important;
	margin-bottom: 1rem !important;
	letter-spacing: 0.025em !important;
	line-height: 1.25 !important;
}

/* Ghost由来のスタイル対応 */

/* ブックマーク系は多すぎるので別に記述。 */

/* WordPress時代記事の互換性担保 */

.blog-content > figure {
	margin-top: 1.5rem !important;
	margin-bottom: 1rem !important;
}
.blog-content > iframe {
	width: 90% !important;
	aspect-ratio: 16 / 9 !important;
}
.speakerdeck-iframe {
	width: 70% !important;
	aspect-ratio: 16 / 9 !important;
}

/* 下記がサイズ無視するので抑える */
.wp-block-verse,
.wp-block-preformatted {
	overflow-x: scroll !important;
	padding: 1em 1em !important;
}
.wp-block-code {
	background-color: #e4e4e4;
	padding: 12px;
}
/* 引用 */
.wp-block-quote {
	margin: 1em 0px;
	padding: 0.5em 12px 12px;
	border-left: 4px solid black;
}
/* 段落ごとの間隔 */
.entry-content p {
	font-size: 18px;
	margin: 1em auto;
}

/* 埋め込みリンクを中央揃えにする */
.wp-embedded-content {
	margin: 0 auto;
}
.wp-block-embed__wrapper iframe {
	margin: 0 auto;
}
/* 詩 */
.wp-block-table tr {
	width: 100%;
}

.wp-block-table {
	margin: 8px auto;
	/* padding: 16px; */
	/* border: 1px solid black; */
}
.wp-block-table table,
td,
th {
	border: 1px gray solid;
	padding: 0.5em 0.3em;
}

.wp-block-verse {
	margin: 24px auto;
	padding: 16px;
	border: 1px solid black;
	border-radius: 6px;
}
.wp-block-image {
	margin: 24px auto;
}
/* 目次 */
#toc_container {
	font-size: 16px;
	margin: 8px auto;
	padding: 16px;
}
#toc_container a {
	font-size: 20px;
}
