---
import ArticleArchive from "~/components/molecule/articleArchive/DArticleArchive.astro";
import { ghostClient } from "~/libs/ghostClient";

const today = new Date();
const firstDay = new Date(today.getFullYear(), today.getMonth() - 1, 1);
const lastDay = new Date(today.getFullYear(), today.getMonth(), 0);
// ここちゃんとする
const formatDate = (date: any) => {
	return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, "0")}-${String(
		date.getDate()
	).padStart(2, "0")}`;
};

const posts = await ghostClient.posts
	.browse({
		filter: `published_at:>='${formatDate(firstDay)}'+published_at:<='${formatDate(lastDay)}'`,
		order: "published_at ASC",
	})
	.catch((err: any) => {
		console.error(err);
	});
const postsData = {
	posts: posts,
};
---

<h2 class="text-blue text-2xl mt-4 mb-8 mx-2 text-center">先月の記事</h2>
<ArticleArchive {...postsData} />
