---
import { ghostApiWithRetry } from "~/libs/ghostClient";
import errorHandler from "~/libs/errorHandler";

interface Props {
	ulClass?: string;
	liClass?: string;
}
const { ulClass = "", liClass = "" } = Astro.props;

const posts =
	(await ghostApiWithRetry.posts
		.browse({
			limit: 5,
			order: "published_at DESC",
		})
		.catch((err: Error) => {
			errorHandler.handleComponentError("LatestArticleList", err);
			return [];
		})) || [];
---

{
	posts && posts.length > 0 ? (
		<ul class={ulClass}>
			{posts.map((post) => (
				<li class={`text-lg my-2 ${liClass}`}>
					<a href={`/${post.slug}`}>📰{post.title}</a>
				</li>
			))}
		</ul>
	) : (
		<p>最近書いた記事はありません！</p>
	)
}
