---
import { ghostClient } from '~/libs/ghostClient';
interface Props {
	ulClass?: string;
	liClass?: string;
}
const { ulClass = '', liClass = '' } = Astro.props;

const posts = await ghostClient.posts
	.browse({
		limit: 5,
		order: 'published_at DESC'
	})
	.catch((err: any) => {
		console.error(err);
	});
---

{
	posts && posts.length > 0 ? (
		<ul class={ulClass}>
			{posts.map((post: any) => (
				<li class={`text-lg my-2 ${liClass}`}>
					<a href={`/${post.slug}`}>📰{post.title}</a>
				</li>
			))}
		</ul>
	) : (
		<p>最近書いた記事はありません！</p>
	)
}
