---
import ArticleArchive from '~/components/molecule/articleArchive/MDArticleArchive.astro';
import { ghostApiWithRetry } from '~/libs/ghostClient';

const posts = await ghostApiWithRetry.posts.browse({
	order: 'published_at DESC',
	limit: 10
});
const postsData = {
	posts: posts || []
};
---

<h2 class="text-blue text-2xl mt-4 mb-8 mx-2 text-center">最近の記事</h2>
<ArticleArchive {...postsData} />
