---
import ArticleArchive from "~/components/molecule/articleArchive/MDArticleArchive.astro";
import { getLatestArticles } from "~/libs/articleAggregator";

const articles = await getLatestArticles({
	limit: 10,
	includeExternal: true,
});
const postsData = {
	posts: articles,
};
---

<h2 class="text-blue text-2xl mt-4 mb-8 mx-2 text-center">最近の記事</h2>
<ArticleArchive {...postsData} />
