<footer>
	<p class="text-center mt-2 mb-6 mx-2 text-sm">copyright usuyuki</p>
	<div class="flex justify-center flex-wrap">
		<a
			href="https://twitter.com/usuyuki26"
			class="mx-4 flex items-center"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img
				src="/images/icon/Twitter-social-icons-circle-blue.png"
				alt="twitter"
				class="w-6 aspect-square"
			/>
			<p class="ml-2 mt-0">Twitter</p>
		</a>
		<a
			href="https://m5y.usuyuki.net/@usuyuki"
			class="mx-4 flex items-center"
			target="_blank"
			rel="noopener noreferrer"
		>
			<!-- misskey logoじゃっかん余白多めなので大きく取る -->
			<img src="/images/icon/misskey-logo.png" alt="misskey" class="w-8 aspect-square" />
			<p class="ml-2 mt-0">Misskey</p>
		</a>
		<a
			href="https://github.com/usuyuki"
			class="mx-4 flex items-center"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img src="/images/icon/github-mark.png" alt="github" class="w-6 aspect-square" />
			<p class="ml-2 mt-0">GitHub</p>
		</a>
	</div>
</footer>
<style>
	footer {
		min-height: var(--footer-height);
		margin-top: 100px;
		display: flex;
		align-items: center;
		flex-direction: column;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	footer > div {
		max-width: var(--main-max-width);
	}
</style>
