/* なぜか本番のビルドだとこれらのファイルの後にTailwindが読み込まれて、優先度的に反映されないためクラス指定で行う */
@tailwind components;
@layer components {
	/* ghostもwordpressもpタグの中にaタグを入れるのでそれを利用してスタイルを当てる */
	p a {
		@apply text-dark-blue duration-500;
	}
	p a:hover {
		@apply text-blue duration-500;
	}
	.blog-content > h1 {
		@apply text-5xl font-bold;
	}
	.blog-content > h2 {
		@apply text-4xl font-bold;
	}
	.blog-content > h3 {
		@apply text-3xl font-bold;
	}
	.blog-content > h4 {
		@apply text-2xl font-bold;
	}
	.blog-content > h5 {
		@apply text-xl font-bold;
	}
	.blog-content > h6 {
		@apply text-lg font-bold;
	}
	.blog-content > p {
		@apply mt-4 text-lg;
	}
	.blog-content > iframe {
		@apply mx-auto;
	}
	/* 画像の説明 */
	.blog-content > figure > figcaption {
		@apply text-center;
	}
	.blog-content > table {
		@apply my-2;
	}
	.blog-content > hr {
		@apply my-6 mx-4;
	}
	.blog-content > blockquote {
		@apply border-l-2 border-black p-2 m-2 italic text-lg;
	}
	.blog-content > em {
		@apply italic;
	}

	.blog-content > pre {
		@apply bg-black text-white p-2 rounded-xl my-2;
	}

	.blog-content > ul {
		@apply list-disc list-inside text-lg my-4;
	}
	.blog-content > ol {
		@apply list-decimal list-inside text-lg my-4;
	}

	.blog-content > h1,
	.blog-content > h2,
	.blog-content > h3,
	.blog-content > h4,
	.blog-content > h5,
	.blog-content > h6 {
		@apply mt-12 mb-4 tracking-wide;
	}

	.blog-content > figure {
		@apply mt-6 mb-2;
	}
	.blog-content > iframe {
		@apply w-5/6 aspect-video;
	}
}
