/* 下記がサイズ無視するので抑える */
.wp-block-verse,
.wp-block-preformatted {
	overflow-x: scroll !important;
	padding: 1em 1em !important;
}
.wp-block-code {
	background-color: #e4e4e4;
	padding: 12px;
}
/* 引用 */
.wp-block-quote {
	margin: 1em 0px;
	padding: 0.5em 12px 12px;
	border-left: 4px solid black;
}
/* 段落ごとの間隔 */
.entry-content p {
	font-size: 18px;
	margin: 1em auto;
}

/* 埋め込みリンクを中央揃えにする */
.wp-embedded-content {
	margin: 0 auto;
}
.wp-block-embed__wrapper iframe {
	margin: 0 auto;
}
/* 詩 */
.wp-block-table tr {
	width: 100%;
}

.wp-block-table {
	margin: 8px auto;
	/* padding: 16px; */
	/* border: 1px solid black; */
}
.wp-block-table table,
td,
th {
	border: 1px gray solid;
	padding: 0.5em 0.3em;
}

.wp-block-verse {
	margin: 24px auto;
	padding: 16px;
	border: 1px solid black;
	border-radius: 6px;
}
.wp-block-image {
	margin: 24px auto;
}
/* 目次 */
#toc_container {
	font-size: 16px;
	margin: 8px auto;
	padding: 16px;
}
#toc_container a {
	font-size: 20px;
}
