---
interface Props {
	month: number;
	day: number;
}
const { day, month } = Astro.props;
---

<div class="relative">
	<div
		class="absolute -top-4 right-8 w-12 h-12 rounded-full text-white font-numbers bg-blue flex items-center justify-center"
	>
		<p class="text-xl">{day}</p>
	</div>
	<div
		class="absolute -top-6 right-16 w-8 h-8 rounded-full text-white font-numbers bg-green flex items-center justify-center"
	>
		<p class="text-lg">{month}</p>
	</div>
</div>
