---
const props = Astro.props;
---

<div class="relative">
	<div
		class="absolute -top-4 right-12 w-12 h-12 rounded-full text-white font-numbers bg-blue flex items-center justify-center"
	>
		<p class="text-xl">{props.day}</p>
	</div>
</div>
