---
interface Props {
	day: number;
}
const { day } = Astro.props;
---

<div class="relative z-10">
	<div class="relative">
		<div
			class="absolute -top-4 right-12 w-10 h-10 rounded-md text-white font-numbers bg-blue flex items-center justify-center"
		>
			<p class="text-xl">{day}</p>
		</div>
	</div>
</div>
