---
interface Props {
	year: number;
	month: number;
	day: number;
	slug: string;
}
const { year, month, day, slug } = Astro.props;
const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
---

<div class="relative z-10">
	<div class="relative">
		<div
			class="w-16 h-16 rounded-full text-white font-bold bg-blue absolute top-16 left-4 flex justify-center items-center"
			transition:name={'year-' + slug}
		>
			<p class="text-xl">
				{year}
			</p>
		</div>
		<div
			class="w-16 h-16 rounded-full text-white font-bold bg-green absolute top-16 left-24 flex justify-center items-center"
			transition:name={'day-' + slug}
		>
			<p class="text-xl">
				{day}
			</p>
		</div>
		<div
			class="w-20 h-20 rounded-full text-white font-bold bg-red absolute top-2 left-12 flex justify-center items-center"
			transition:name={'month-' + slug}
		>
			<p class="text-2xl">
				{months[month - 1]}
			</p>
		</div>
	</div>
</div>
