<header>
	<a href="/">
		<h1 class="text-center my-2 mt-2 text-xl">急須で入れたようななにか</h1>
	</a>
</header>
<style>
	header {
		height: var(--heder-height);
		backdrop-filter: blur(4px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
