---
import SearchForm from "~/components/molecule/search/SearchForm.astro";
---

<header class="h-[var(--heder-height)] backdrop-blur-sm flex justify-center items-center px-4">
	<div class="flex flex-col md:flex-row items-center justify-center gap-4 w-full max-w-6xl relative">
		<a href="/" class="no-underline text-inherit">
			<h1 class="text-center my-2 mt-2 text-xl">急須で入れたようななにか</h1>
		</a>
		<div class="hidden lg:block absolute right-0 w-full max-w-sm lg:max-w-xs">
			<SearchForm placeholder="サイト内検索(Google)" />
		</div>
	</div>
</header>
