---
import SquareDay from "~/components/atom/date/SquareDay.astro";
import ArticleCardItem from "~/components/molecule/articleArchive/ArticleCardItem.astro";
import { iso8601TimeToDate } from "~/libs/helper/iso8601TimeToDate";
import type { ArticleArchiveType } from "~/types/ArticleArchiveType";

interface Props {
  posts: ArticleArchiveType[];
}
const { posts } = Astro.props;

//日付の変換（既に変換済みの場合はスキップ）
posts.forEach((post: ArticleArchiveType) => {
  if (typeof post.published_at === "string") {
    post.published_at = iso8601TimeToDate(post.published_at);
  }
});

// 同じサイズでflexさせるために要素深くなっているが、aタグをblockにして、その上の要素でサイズ指定して、更に上の要素でitems-stretchする必要があるためやむを得ない
---

<div class="flex flex-wrap items-stretch">
	{
		posts.map((post: ArticleArchiveType, index: number) => (
			<ArticleCardItem post={post} index={index}>
				<SquareDay
					day={typeof post.published_at === 'string' ? 0 : post.published_at.day}
					slug={post.slug}
				/>
			</ArticleCardItem>
		))
	}
</div>
