---
import CircleMD from "~/components/atom/date/CircleMD.astro";
import ArticleCardItem from "~/components/molecule/articleArchive/ArticleCardItem.astro";
import { iso8601TimeToDate } from "~/libs/helper/iso8601TimeToDate";
import type { ArticleArchiveType } from "~/types/ArticleArchiveType";

interface Props {
  posts: ArticleArchiveType[];
}
const { posts } = Astro.props;
//日付の変換（外部記事は変換をスキップ）
posts.forEach((post: ArticleArchiveType) => {
  if (typeof post.published_at === "string" && !post.isExternal) {
    post.published_at = iso8601TimeToDate(post.published_at);
  }
});
---

<div class="flex flex-wrap items-stretch">
	{
		posts.map((post: ArticleArchiveType, index: number) => (
			<ArticleCardItem post={post} index={index}>
				<CircleMD
					month={typeof post.published_at === 'string'
						? new Date(post.published_at).getMonth() + 1
						: post.published_at.month}
					day={typeof post.published_at === 'string'
						? new Date(post.published_at).getDate()
						: post.published_at.day}
					slug={post.slug}
				/>
			</ArticleCardItem>
		))
	}
</div>
