---
import '~/styles/global.css';
import CommonFooter from '~/components/atom/footer/CommonFooter.astro';
import CommonHead from '~/components/atom/head/CommonHead.astro';
import CommonHeader from '~/components/atom/header/CommonHeader.astro';
import type { HeadMetaType } from '~/types/HeadMetaType';
interface Props extends HeadMetaType {}
const headMeta: Props = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<CommonHead {...headMeta} />
		<slot name="head" />
	</head>
	<body>
		<CommonHeader />
		<!-- <main transition:animate="slide"> -->
		<!-- <main transition:animate={fade({ duration: '2.0s' })}> -->
		<main>
			<slot />
		</main>
		<CommonFooter />
		<script>
			import { snsLinkProvider } from '~/libs/console/snsLinkProvider';
			snsLinkProvider();
		</script>
	</body>
</html>
