---
import "~/styles/global.css";
import SiteFooter from "~/components/atom/footer/SiteFooter.astro";
import CommonHead from "~/components/atom/head/CommonHead.astro";
import SiteHeader from "~/components/molecule/header/SiteHeader.astro";
import type { HeadMetaType } from "~/types/HeadMetaType";

interface Props extends HeadMetaType {}
const headMeta: Props = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<CommonHead {...headMeta} />
		<slot name="head" />
	</head>
	<body>
		<SiteHeader />
		<main>
			<slot />
		</main>
		<SiteFooter />
		<script>
			import { snsLinkProvider } from '~/libs/console/snsLinkProvider';
			snsLinkProvider();
		</script>
		<script src="../scripts/reveal.ts"></script>
	</body>
</html>
