---
import '~/styles/global.css';
import CommonHead from '$components/atom/head/commonHead.astro';
import CommonFooter from '$components/atom/footer/commonFooter.astro';
import CommonHeader from '$components/atom/header/commonHeader.astro';
---
<!DOCTYPE html>
<html lang="ja">
    <head>
        <CommonHead />
        <slot name="head" />
    </head>
    <body>
        <CommonHeader />
        <main>
            <slot />
        </main>
        <CommonFooter />
    </body>
</html>
