---
import '~/styles/global.css';
import CommonFooter from '~/components/atom/footer/CommonFooter.astro';
import CommonHead from '~/components/atom/head/CommonHead.astro';
import CommonHeader from '~/components/atom/header/CommonHeader.astro';
const headMeta = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<CommonHead {...headMeta} />
		<slot name="head" />
	</head>
	<body>
		<CommonHeader />
		<main>
			<slot />
		</main>
		<CommonFooter />
		<script>
			import { snsLinkProvider } from '~/libs/console/snsLinkProvider';
			snsLinkProvider();
		</script>
	</body>
</html>
