---
const props = Astro.props;
---

<div class={`flex items-center justify-center ${props.className}`}>
	<a href={props.url}>
		<div
			class="flex rounded-xl bg-green px-4 py-3 hover:bg-blue hover:text-white text-white duration-500"
		>
			<p>{props.title}</p>
		</div>
	</a>
</div>
