---
import { SITE_URL } from "~/consts";
import PageLayout from "~/layouts/extends/PageLayout.astro";
import type { HeadMetaType } from "~/types/HeadMetaType";

// 静的に描画して良いところ
export const prerender = true;

const headMeta: HeadMetaType = {
	title: "404",
	slug: "/404",
	description: "このページは存在しません",
	ogImage: `${SITE_URL}/images/ogp/ogp.png`,
};
---

<PageLayout {...headMeta}>
	<h1 class="text-center text-3xl">404 Not Found</h1>
	<p class="text-center">このページは存在しません！</p>
</PageLayout>
