---
import NormalInternalLinkButton from '~/components/atom/button/NormalInternalLinkButton.astro';
import ArchiveList from '~/components/molecule/widget/ArchiveList.astro';
import FeaturedArticle from '~/components/organism/article/FeaturedArticle.astro';
import LatestArticle from '~/components/organism/article/LatestArticle.astro';
import TagList from '~/components/organism/tag/TagList.astro';
import { SITE_URL } from '~/consts';
import IndexLayout from '~/layouts/extends/IndexLayout.astro';
import type { HeadMetaType } from '~/types/HeadMetaType';
const headMeta: HeadMetaType = {
	title: 'とっぷ',
	slug: '',
	description: '「うすゆきブログ」のトップページです',
	ogImage: SITE_URL + '/images/ogp/ogp.png'
};

//今月のアーカイブURL
const archiveUrl = `/archive/${new Date().getFullYear()}/${new Date().getMonth() + 1}`;
---

<IndexLayout {...headMeta}>
	<h2 class="text-3xl text-center mb-4 mx-2">雑記</h2>
	<LatestArticle />
	<NormalInternalLinkButton title="月間ごとのアーカイブ" url={archiveUrl} />
	<FeaturedArticle />
	<div class="mt-4 mb-12 flex justify-center flex-col items-center">
		<h2 class="text-2xl font-bold mb-4">Tags</h2>
		<TagList liClass="ml-2" ulClass="flex justify-center flex-wrap md:flex-row flex-col" />
	</div>

	<div class="mt-4 mb-12 flex justify-center flex-col items-center">
		<h2 class="text-2xl font-bold mb-4">Archive</h2>
		<ArchiveList ulClass="mx-auto" />
	</div>
</IndexLayout>
