---
import ArchiveList from '~/components/molecule/widget/ArchiveList.astro';
import LastMonthArticle from '~/components/organism/article/LastMonthArticle.astro';
import ThisMonthArticle from '~/components/organism/article/ThisMonthArticle.astro';
import TagList from '~/components/organism/tag/TagList.astro';
import { SITE_URL } from '~/consts';
import IndexLayout from '~/layouts/extends/IndexLayout.astro';
import type { HeadMetaType } from '~/types/HeadMetaType';
const headMeta: HeadMetaType = {
	title: 'とっぷ',
	slug: '',
	description: '「急須で入れたようななにか」のトップページです',
	ogImage: SITE_URL + '/images/ogp/ogp.png'
};
---

<IndexLayout {...headMeta}>
	<h2 class="text-2xl text-center mb-4 mx-2">うすゆきブログ</h2>
	<!-- <h2 class="text-4xl">急須で入れたような</h2>
	<h2 class="text-3xl">何か</h2> -->
	<ThisMonthArticle />
	<LastMonthArticle />
	<div class="mt-4 mb-12">
		<h2 class="text-2xl font-bold">Tags</h2>
		<TagList class="mx-auto" />
	</div>

	<div class="">
		<h2 class="text-2xl font-bold">Archive</h2>
		<ArchiveList class="mx-auto" />
	</div>
</IndexLayout>
