---
import ArchiveList from '~/components/molecule/widget/ArchiveList.astro';
import LatestArticle from '~/components/organism/article/LatestArticle.astro';
import TagList from '~/components/organism/tag/TagList.astro';
import { SITE_URL } from '~/consts';
import IndexLayout from '~/layouts/extends/IndexLayout.astro';
import type { HeadMetaType } from '~/types/HeadMetaType';
const headMeta: HeadMetaType = {
	title: 'とっぷ',
	slug: '',
	description: '「急須で入れたようななにか」のトップページです',
	ogImage: SITE_URL + '/images/ogp/ogp.png'
};
---

<IndexLayout {...headMeta}>
	<h2 class="text-2xl text-center mb-4 mx-2">うすゆきブログ</h2>
	<!-- <h2 class="text-4xl">急須で入れたような</h2>
	<h2 class="text-3xl">何か</h2> -->
	<LatestArticle />
	<div class="mt-4 mb-12 flex justify-center flex-col items-center">
		<h2 class="text-2xl font-bold mb-4">Tags</h2>
		<TagList
			class="mx-auto"
			liClass="ml-2"
			ulClass="flex justify-center flex-wrap md:flex-row flex-col"
		/>
	</div>

	<div class="mt-4 mb-12 flex justify-center flex-col items-center">
		<h2 class="text-2xl font-bold mb-4">Archive</h2>
		<ArchiveList class="mx-auto" />
	</div>
</IndexLayout>
