---
import { ghostApiWithRetry } from "~/libs/ghostClient";

interface Props {
	ulClass?: string;
	liClass?: string;
}
const { ulClass = "", liClass = "" } = Astro.props;

const tags = await ghostApiWithRetry.tags.browse(
	{
		limit: "all",
		order: "slug ASC",
		filter: "visibility:public",
	},
	3,
	Astro.request,
);
---

{
	tags && tags.length > 0 ? (
		<ul class={ulClass}>
			{tags.map((tag: any) => (
				<li class={`text-lg my-2 ${liClass}`}>
					<a href={`/tags/${tag.slug}`}>🏷{tag.name}</a>
				</li>
			))}
		</ul>
	) : (
		<p>タグはありません</p>
	)
}
