---
import { ghostClient } from '~/libs/ghostClient';

const tags = await ghostClient.tags
	.browse({
		limit: 'all',
		order: 'slug ASC',
		filter: 'visibility:public'
	})
	.catch((err: any) => {
		console.error(err);
	});
---

{
	tags && tags.length > 0 ? (
		<ul>
			{tags.map((tag: any) => (
				<li>
					<a href={`/tags/${tag.slug}`}>🏷{tag.name}</a>
				</li>
			))}
		</ul>
	) : (
		<p>タグはありません</p>
	)
}
