---
const props = Astro.props;
const classMap: any = {
	'kg-bookmark-card': 'rounded-lg dotted border-black border-2',
	'kg-bookmark-content': 'grow',
	'kg-bookmark-thumbnail': 'flex-initial basis-1/3 mt-2',
	'kg-bookmark-description': 'hidden',
	'kg-bookmark-metadata': 'h-20 w-full flex'
};
const newClass = Object.hasOwn(classMap, props.class) ? classMap[props.class] : props.class;
---

<div class={newClass}><slot /></div>
